<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>account$0</string>
	<key>name</key>
	<string>Account object2</string>
	<key>tabTrigger</key>
	<string>account_id</string>
	<key>uuid</key>
	<string>B3DCDC90-B341-49D0-8B16-A5058D4E2590
	</string>
</dict>
</plist>
