<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>account_id$0</string>
	<key>name</key>
	<string>Account id</string>
	<key>tabTrigger</key>
	<string>Account</string>
	<key>uuid</key>
	<string>4E890506-F176-4669-9E5D-4FD5EBD7132A</string>
</dict>
</plist>
