<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>address$0</string>
	<key>name</key>
	<string>Address object2</string>
	<key>tabTrigger</key>
	<string>address_id</string>
	<key>uuid</key>
	<string>8B7844C9-CDFF-477D-BD48-D81979BFEBC8
	</string>
</dict>
</plist>
