<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>command$0</string>
	<key>name</key>
	<string>Command object</string>
	<key>tabTrigger</key>
	<string>com</string>
	<key>uuid</key>
	<string>35CF0932-AED0-4146-ACFB-E06C30FE5A2E</string>
</dict>
</plist>
