<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Connection$0</string>
	<key>name</key>
	<string>Connection entity</string>
	<key>tabTrigger</key>
	<string>connections</string>
	<key>uuid</key>
	<string>85509D49-E251-4BCF-AA2E-6B397FB82EFA</string>
</dict>
</plist>
