<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>contact_name$0</string>
	<key>name</key>
	<string>ContactName object</string>
	<key>tabTrigger</key>
	<string>contna</string>
	<key>uuid</key>
	<string>392D722E-CE25-49C5-8F2D-89D6EEDCE03A</string>
</dict>
</plist>
