<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>ContactName$0</string>
	<key>name</key>
	<string>ContactName entity</string>
	<key>tabTrigger</key>
	<string>contact_names</string>
	<key>uuid</key>
	<string>537AA469-9395-4638-8FA9-7424D88AFAAE
	</string>
</dict>
</plist>
