<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>customers$0</string>
	<key>name</key>
	<string>Customer objects</string>
	<key>tabTrigger</key>
	<string>customer</string>
	<key>uuid</key>
	<string>7E695335-9F19-469B-BBE8-4B7055BB784F
	</string>
</dict>
</plist>
