<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Description$0</string>
	<key>name</key>
	<string>Description entity</string>
	<key>tabTrigger</key>
	<string>descriptions</string>
	<key>uuid</key>
	<string>E49A0199-36B1-4539-B2F0-BB531398FCC8
	</string>
</dict>
</plist>
