<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>due_date$0</string>
	<key>name</key>
	<string>DueDate object2</string>
	<key>tabTrigger</key>
	<string>due_date_id</string>
	<key>uuid</key>
	<string>0289CEBC-23C3-4646-92DE-7C50AF3A5BAA
	</string>
</dict>
</plist>
