<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>due_dates$0</string>
	<key>name</key>
	<string>DueDate objects</string>
	<key>tabTrigger</key>
	<string>due_date</string>
	<key>uuid</key>
	<string>17721C44-BDB1-462B-A0F9-20163DF16265
	</string>
</dict>
</plist>
