<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>element$0</string>
	<key>name</key>
	<string>Element object</string>
	<key>tabTrigger</key>
	<string>elm</string>
	<key>uuid</key>
	<string>75C06D4F-A531-4F32-8737-B5EE9A4A5403
	</string>
</dict>
</plist>
