<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>element$0</string>
	<key>name</key>
	<string>Element object2</string>
	<key>tabTrigger</key>
	<string>element_id</string>
	<key>uuid</key>
	<string>1BD51924-36BA-4F12-989D-501892D02F0F</string>
</dict>
</plist>
