<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>email$0</string>
	<key>name</key>
	<string>Email object2</string>
	<key>tabTrigger</key>
	<string>email_id</string>
	<key>uuid</key>
	<string>FC4209CA-1FD9-4F3D-8ACA-A5F0FBCDEBF5
	</string>
</dict>
</plist>
