<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>last_name$0</string>
	<key>name</key>
	<string>LastName object2</string>
	<key>tabTrigger</key>
	<string>last_name_id</string>
	<key>uuid</key>
	<string>353E89A2-C736-4A4F-9BF8-DFB4A70B115B</string>
</dict>
</plist>
