<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Login$0</string>
	<key>name</key>
	<string>Login entity</string>
	<key>tabTrigger</key>
	<string>logins</string>
	<key>uuid</key>
	<string>803F3888-3EFF-4614-BBCC-D680DB9CEDEB
	</string>
</dict>
</plist>
