<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>login$0</string>
	<key>name</key>
	<string>Login object2</string>
	<key>tabTrigger</key>
	<string>login_id</string>
	<key>uuid</key>
	<string>4C7D5C44-4DD6-4613-9B24-1BBAC4657A8B</string>
</dict>
</plist>
