<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>logins$0</string>
	<key>name</key>
	<string>Login objects</string>
	<key>tabTrigger</key>
	<string>login</string>
	<key>uuid</key>
	<string>3A1A52D2-6F27-4EA6-BBD2-0794BB6BCE6D
	</string>
</dict>
</plist>
