<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>messages$0</string>
	<key>name</key>
	<string>Message objects</string>
	<key>tabTrigger</key>
	<string>message</string>
	<key>uuid</key>
	<string>640E4E53-A75C-4EAB-9A6A-712D6419E30F</string>
</dict>
</plist>
