<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>object$0</string>
	<key>name</key>
	<string>Object object2</string>
	<key>tabTrigger</key>
	<string>object_id</string>
	<key>uuid</key>
	<string>2B9270E9-DD3A-49B6-AEA1-3690CB60BC30</string>
</dict>
</plist>
