<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>organization$0</string>
	<key>name</key>
	<string>Organization object2</string>
	<key>tabTrigger</key>
	<string>organization_id</string>
	<key>uuid</key>
	<string>22608F99-9E15-473F-828D-EF9E49A46B22</string>
</dict>
</plist>
