<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>organization$0</string>
	<key>name</key>
	<string>Organization object</string>
	<key>tabTrigger</key>
	<string>org</string>
	<key>uuid</key>
	<string>5B481D7E-7BE3-4164-8B31-AF993EC6B61C
	</string>
</dict>
</plist>
