<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>origin_id$0</string>
	<key>name</key>
	<string>Origin id</string>
	<key>tabTrigger</key>
	<string>Origin</string>
	<key>uuid</key>
	<string>D848E40B-45C2-4005-9648-D527C07848F1
	</string>
</dict>
</plist>
