<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>recipient$0</string>
	<key>name</key>
	<string>Recipient object</string>
	<key>tabTrigger</key>
	<string>recp</string>
	<key>uuid</key>
	<string>C611DC4F-5EE1-4C6F-B882-7EC36F4C9AED
	</string>
</dict>
</plist>
