<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>recipients$0</string>
	<key>name</key>
	<string>Recipient objects</string>
	<key>tabTrigger</key>
	<string>recipient</string>
	<key>uuid</key>
	<string>5BC3CC2A-43C3-4B30-B768-3662D0344900</string>
</dict>
</plist>
