<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>setting_id$0</string>
	<key>name</key>
	<string>Setting id</string>
	<key>tabTrigger</key>
	<string>Setting</string>
	<key>uuid</key>
	<string>0D446328-CF9D-49C4-9A62-36D3FE53A01E
	</string>
</dict>
</plist>
