<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>ShippingAddress$0</string>
	<key>name</key>
	<string>ShippingAddress entity</string>
	<key>tabTrigger</key>
	<string>shipping_addresses</string>
	<key>uuid</key>
	<string>1FA83E63-78E2-41B0-8568-0CC86B7DBDF8
	</string>
</dict>
</plist>
