<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>subject_id$0</string>
	<key>name</key>
	<string>Subject id</string>
	<key>tabTrigger</key>
	<string>Subject</string>
	<key>uuid</key>
	<string>2E6FB2CC-4CF0-4EEC-A34B-EEEC229EEB0F
	</string>
</dict>
</plist>
